body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* css 추가 하기 */

h1 {
  color: blue;
}

.main_content {
  background-color: lightblue;
  padding: 25px;
  border-radius: 5px;
  width: 500px;
}

h2 {
  color: blue;
  padding: 10px;
  margin-top: 20px;
  width: 250px;
}
